
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;700;800;900&display=swap');


/* body {
  font-family: 'Outfit', sans-serif;
  color: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
 */
